.darkme{
    z-index: 0;
    background:linear-gradient(
        rgba(0,0,0,0.92),
        rgba(0,0,0,0.92)
    );
    height: 100vh;
    border-right: 3px solid black;
    border-left: 3px solid black;
}

#mapid{
    position:absolute;
    z-index: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 500px;
}